@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Bungee+Spice&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transform: all 0.2s linear;
}

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  --border: .2rem solid rgba(0,0,0,.1);
  --outline: .1rem solid rgba(0,0,0,0.1);
  --outline-hover: .2rem solid var(--black);
}

body {
  background: #dfe3e6;
}

/***** Navigation bar start *****/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 9%;
  background: #dfe3e6;
  box-shadow: var(--box-shadow);
}
.header .logo {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 20px;
  font-weight: bolder;
  animation: slideRight 0.5s linear forwards;
  opacity: 0;
}
.header .logo a {
  color: #130f40;
  font-family: "Bungee Spice", cursive;
}
.header .logo .a2 {
  margin-left: 40px;
  line-height: 8px;
  text-transform: lowercase;
}
.header .navbar a {
  font-size: 1rem;
  margin: 0 1rem;
  color: var(--black);
  animation: slideTop 0.7s linear forwards;
  opacity: 0;
  animation-delay: calc(0.2s * var(--i));
}
.header .navbar a:hover {
  color: var(--orange);
}
.header .icons div {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 10px;
  background: #eee;
  color: var(--black);
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  animation: slideLeft 0.4s linear forwards;
  opacity: 0;
  animation-delay: calc(0.2s * var(--i));
}
.header .icons .fa-bars {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 500px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.header .search-form.active {
  right: 20px;
  transition: 0.3s linear;
}
.header .search-form.active input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--black);
  padding: 0 1.5rem;
}
.header .search-form.active label {
  font-size: 20px;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form.active label:hover {
  color: var(--black);
}
.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 300px;
  background: #fff;
}
.header .shopping-cart.active {
  right: 20px;
  transition: 0.3s linear;
}
.header .shopping-cart.active .box {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  position: relative;
  margin: 20px 0;
  border-bottom: 1px solid #f0f2f3;
  padding: 20px 0;
}
.header .shopping-cart.active .box img {
  width: 50px;
  height: 50px;
}
.header .shopping-cart.active .box .fa-trash {
  font-size: 18px;
  top: 50%;
  right: 0px;
  cursor: pointer;
  color: #f80202;
  margin-left: 10px;
  transform: translateY(-50%);
}
.header .shopping-cart.active .box .fa-edit {
  font-size: 18px;
  top: 50%;
  right: 0px;
  cursor: pointer;
  color: #1202f8;
  transform: translateY(-50%);
}
.header .shopping-cart.active .box .content .quantity {
  padding-left: 10px;
}
.header .shopping-cart.active .total {
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  color: var(--black);
}
.header .shopping-cart.active a.btn {
  margin: 10px auto;
  width: 95%;
  text-align: center;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  color: var(--black);
  border: 1px solid #7a7d7e;
}
.header .shopping-cart.active a.btn:hover {
  background: var(--orange);
  color: #f0f2f3;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 400px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.header .login-form.active {
  right: 20px;
  transition: 300ms linear;
}
.header .login-form.active h3 {
  font-size: 18px;
  margin: 20px 0;
  text-transform: uppercase;
  color: var(--black);
}
.header .login-form.active .box {
  background: #eee;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  color: var(--black);
  text-transform: none;
  border: none;
  outline: none;
}
.header .login-form.active .icon {
  width: 80%;
  display: block;
  margin: 10px auto;
}
.header .login-form.active .icon a {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
.header .login-form.active .icon a i {
  transition: 0.3s;
}
.header .login-form.active .icon a i:hover {
  transform: scale(1.4, 1.4);
}
.header .login-form.active .icon a .fa-facebook {
  background: linear-gradient(135deg, rgba(3, 33, 163, 0.63), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .login-form.active .icon a .fa-google {
  background: linear-gradient(-135deg, #ff0606, #6f7272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .login-form.active .icon a .fa-telegram {
  background: linear-gradient(-135deg, #0630e7, #05e9dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .login-form.active .icon a .fa-instagram {
  background: linear-gradient(-135deg, #ff050b, #f32156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .login-form.active .btn {
  width: 60%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bolder;
  font-size: 20px;
}
.header .login-form.active .btn:hover {
  background: var(--orange);
  color: #fff;
}

/***** Navigation bar end *****/
/***** Home page start *****/
.headbody {
  padding-top: 4rem;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headbody .firstbody {
  padding-top: 14rem;
  display: block;
  margin: 0 auto;
}
.headbody .firstbody h4 {
  font-size: 20px;
  animation: slideRight 0.6s linear forwards;
  opacity: 0;
}
.headbody .firstbody h2 {
  font-size: 50px;
  font-weight: bolder;
  line-height: 50px;
  animation: slideRight 0.6s linear forwards;
  opacity: 0;
}
.headbody .firstbody h1 {
  font-size: 70px;
  font-weight: bolder;
  font-family: "Bungee Spice", cursive;
  line-height: 60px;
  color: #088178;
  animation: slideRight 0.6s linear forwards;
  opacity: 0;
}
.headbody .firstbody p {
  font-size: 18px;
  line-height: 70px;
  animation: slideLeft 0.6s linear forwards;
  opacity: 0;
}
.headbody .firstbody button {
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  font-size: 18px;
  font-weight: 700;
  animation: slideLeft 0.6s linear forwards;
  opacity: 0;
}
.headbody .secondbody {
  padding-top: 10rem;
  padding: 20px;
}
.headbody .secondbody img {
  width: 100%;
  height: 550px;
  animation: zoomIn 0.7s ease forwards;
  transform: scale(0);
}

/***** Home page end *****/
/***** Controlscroll page start *****/
.Controlscroll .gif {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 6px;
}
.Controlscroll .gif img {
  background: linear-gradient(#90a1a3, #31727a, #c2e9ee);
  transform: scale(1.1, 1.1);
  border-radius: 50%;
  padding: 13px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.Controlscroll .TshirtDesign {
  text-align: center;
  margin-top: 50px;
}
.Controlscroll .TshirtDesign h1 {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: Cambria, serif;
  animation: slideButton 0.5s linear forwards;
  opacity: 0;
}
.Controlscroll .TshirtDesign h4 {
  font-size: 20px;
  font-style: italic;
  margin-top: 15px;
  color: #6d6e6e;
}
.Controlscroll .TshirtDesign .TshirtBody {
  width: 90%;
  display: block;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox {
  border: 1px solid #cfcccc;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: none;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox img {
  width: 80%;
  background-color: #d6dbdb;
  border-radius: 20px;
  height: 200px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox p {
  text-align: start;
  text-transform: lowercase;
  margin-top: 20px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox h2 {
  text-align: start;
  font-size: 18px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox .Tshirticon {
  text-align: start;
  margin-top: 5px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox .Tshirticon i {
  font-size: 15px;
  color: rgba(194, 197, 11, 0.9254901961);
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox h3 {
  text-align: start;
  margin-top: 10px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox a {
  color: #000;
  padding: 10px;
  border-radius: 50%;
  background-color: #9be2dd;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.Controlscroll .TshirtDesign .TshirtBody .TshirtBox a i {
  text-align: end;
}

/***** Controlscroll page end *****/
/***** TshirtTrailer page start *****/
.TshirtTrailer {
  background-color: #ece8db;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}
.TshirtTrailer .firstTrailer {
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
}
.TshirtTrailer .firstTrailer h4 {
  font-size: 20px;
  font-family: cambria;
  font-weight: bolder;
  color: #3c3d3b;
}
.TshirtTrailer .firstTrailer h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: cambria;
  color: #060872;
}
.TshirtTrailer .firstTrailer h3 {
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 5px;
  color: #5f5b5b;
}
.TshirtTrailer .firstTrailer button {
  margin: 30px 30px 0px;
  border: none;
  outline: none;
  padding: 15px;
  border: 1px solid #c2bdbd;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}
.TshirtTrailer .firstTrailer button:hover {
  background: #04325e;
  border: none;
  transform: scale(1.1, 1.1);
}
.TshirtTrailer .firstTrailer button:hover a {
  color: #f0f2f3;
}
.TshirtTrailer .firstTrailer button a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
.TshirtTrailer .secondTrailer {
  display: flex;
}
.TshirtTrailer .secondTrailer img {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 500px;
  transition: 300ms;
}
.TshirtTrailer .secondTrailer img:hover {
  transform: scale(1.1, 1.1);
}

/***** TshirtTrailer page end *****/
/***** boy short page start *****/
.shorts {
  margin-top: 50px;
}
.shorts h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: Cambria, serif;
}
.shorts h3 {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin-top: 15px;
  color: #6d6e6e;
}

.banner {
  width: 90%;
  display: block;
  margin: 50px auto 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  position: relative;
}
.banner .card {
  position: relative;
  height: 450px;
  background: #232323;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.banner .card::after {
  content: "P2A";
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 12rem;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}
.banner .card .img-box {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 220px;
  transform: translateY(-50%);
  transition: 0.5s;
}
.banner .card .img-box img {
  position: absolute;
  width: 220px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .card:hover .img-box {
  top: 10%;
  transform: translateY(0%);
}
.banner .card .content-box {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.banner .card .content-box h2 {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600px;
  font-size: 30px;
  transition: 0.5s;
}
.banner .card .content-box .size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.banner .card .content-box .size h3 {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  margin-right: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.banner .card .content-box p {
  color: #fff;
  opacity: 0;
  font-size: 20px;
  margin-left: 35px;
  text-align: start;
  visibility: hidden;
  letter-spacing: 2px;
  font-style: italic;
}
.banner .card .content-box a {
  background: #e1f1f3;
  color: #141313;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  right: 40px;
  transform: translateY(50px);
}
.banner .card:hover .content-box a {
  transition: 0.5s;
  transform: translateY(-30px);
}
.banner .card:hover .content-box p {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  transform: translateY(-50px);
}
.banner .card:hover .content-box .size {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  transform: translateY(-70px);
}
.banner .card:hover .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  background: #fff;
  color: #111;
  margin: 15px 5px 0px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
}
.banner .card:hover .content-box h2 {
  transform: translateY(-80px);
}

/***** boy short page end *****/      
/***** short trailer  page start *****/ 
.shortTrailer {
  display: block;
  margin: 0 auto;
  padding: 30px 0px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.shortTrailer .shortTrailer-box {
  display: flex;
  height: 300px;
  background: linear-gradient(to right, #ceb10c, rgba(133, 114, 10, 0.7803921569));
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shortTrailer .shortTrailer-box .textBox {
  margin-top: 6rem;
  padding: 20px;
}
.shortTrailer .shortTrailer-box .textBox h3 {
  font-size: 20px;
  font-weight: bolder;
  color: #f0f2f3;
}
.shortTrailer .shortTrailer-box .textBox h1 {
  font-size: 40px;
  font-weight: bolder;
  color: #f0f2f3;
  font-family: cambria;
}
.shortTrailer .shortTrailer-box .textBox h2 {
  font-size: 15px;
  font-style: italic;
  color: #bee5eb;
}
.shortTrailer .shortTrailer-box img {
  width: 100%;
  height: 250px;
  margin-top: 30px;
}
.shortTrailer #boyshort {
  background: linear-gradient(to right, #43a70a, #0f4903);
}

.shortTrailer2 {
  display: block;
  margin: 0 auto;
  padding: 30px 0px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.shortTrailer2 .shortBox {
  position: relative;
}
.shortTrailer2 .shortBox:hover h2, .shortTrailer2 .shortBox:hover h1 {
  color: #000;
}
.shortTrailer2 .shortBox img {
  width: 100%;
  height: 300px;
  border-radius: 7px;
}
.shortTrailer2 .shortBox:hover img {
  opacity: 0.3;
}
.shortTrailer2 .shortBox h2 {
  position: absolute;
  top: 110px;
  color: #041cf5;
  left: 30px;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
  font-family: cambria;
  letter-spacing: 3px;
}
.shortTrailer2 .shortBox h1 {
  position: absolute;
  top: 130px;
  left: 30px;
  color: #041cf5;
  font-size: 50px;
}

/***** short trailer  page start *****/ 
/***** Feature  page start *****/ 
.feature {
  display: block;
  margin: 20px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.feature .fea-box {
  margin: 50px 0px;
  padding: 20px;
  text-align: center;
  border: 1px solid #94989b;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}
.feature .fea-box:hover {
  transform: scale(1.1, 1.1);
}
.feature .fea-box img {
  width: 100%;
}
.feature .fea-box h5 {
  margin: 20px 20px 0px;
  padding: 5px 0px;
  color: #fff;
  background: linear-gradient(to right, #43a70a, #0f4903);
  border-radius: 50px;
}

/***** Feature page end *****/ 
/***** Footer page start *****/ 
.footer {
  margin: 20px 0px;
  background: linear-gradient(to right, #410aa7, #160349);
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footer .foot-box {
  padding: 20px;
  position: relative;
}
.footer .foot-box h2, .footer .foot-box h3 {
  font-size: 40px;
  font-weight: bolder;
  color: #bce8ee;
  margin-bottom: 30px;
}
.footer .foot-box p {
  color: #f0f2f3;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}
.footer .foot-box a {
  text-decoration: none;
  color: #fff;
}
.footer .foot-box h3 {
  margin-left: 50px;
}
.footer .foot-box img {
  width: 200px;
  height: 180px;
  right: 10rem;
  top: 4rem;
  position: absolute;
  transition: 0.3s;
}
.footer .foot-box img:hover {
  transform: scale(1.1, 1.1);
}
.footer .foot-box i {
  font-size: 50px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
  transition: 0.3s;
}
.footer .foot-box i:hover {
  transform: scale(1.3, 1.3);
}
.footer .foot-box .fa-facebook {
  background: linear-gradient(135deg, rgba(3, 33, 163, 0.63), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .foot-box .fa-youtube {
  background: linear-gradient(-135deg, #ff0606, #6f7272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .foot-box .fa-telegram {
  background: linear-gradient(-135deg, #0630e7, #05e9dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .foot-box .fa-instagram {
  background: linear-gradient(-135deg, #ff050b, #f32156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***** Feature page end *****/ 
/***** Company brand's logo start *****/ 
.company {
  width: 90%;
  display: block;
  margin: 30px auto;
  text-align: center;
}
.company h1 {
  margin-top: 5rem;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: Cambria, serif;
}
.company h3 {
  font-size: 20px;
  font-style: italic;
  margin-top: 15px;
  color: #6d6e6e;
}
.company .showing-slide {
  margin: 5rem 0px 50px;
  border-bottom: 1px solid #000;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.pyaephyo {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  font-family: cambria;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: lowercase;
}

/***** Company brand's logo end *****/ 
/***** Shirt page start *****/ 
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.shirtpage {
  padding-top: 8rem;
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.shirtpage ul {
  padding: 0px 20px;
}
.shirtpage ul h2 {
  border-bottom: 1px solid #000;
  line-height: 40px;
}
.shirtpage ul li {
  margin: 20px 0px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shirtpage ul li a {
  font-size: 20px;
  color: #000;
  animation: slideRight 0.6s linear forwards;
  opacity: 0;
  animation-delay: calc(0.2s * var(--i));
}
.shirtpage .shipag-body {
  display: grid;
  padding: 0px 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.shirtpage .shipag-body .shirtpageBox {
  border: 1px solid #bbb5b5;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.shirtpage .shipag-body .shirtpageBox:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: none;
}
.shirtpage .shipag-body .shirtpageBox img {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #d6dbdb;
  border-radius: 20px;
  height: 150px;
}
.shirtpage .shipag-body .shirtpageBox p {
  text-align: start;
  text-transform: lowercase;
  margin-top: 20px;
  color: #000;
}
.shirtpage .shipag-body .shirtpageBox h2 {
  text-align: start;
  font-size: 18px;
  color: #000;
}
.shirtpage .shipag-body .shirtpageBox .Tshirticon {
  text-align: start;
  margin-top: 5px;
}
.shirtpage .shipag-body .shirtpageBox .Tshirticon i {
  font-size: 15px;
  color: rgba(194, 197, 11, 0.9254901961);
}
.shirtpage .shipag-body .shirtpageBox h3 {
  text-align: start;
  margin-top: 10px;
  color: #000;
}

.pagination {
  text-align: center;
  line-height: 50px;
  width: 90%;
  display: block;
  margin: 5rem auto 20px;
  border-bottom: 1px solid #000;
}
.pagination a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  margin: 0 7px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #b4adad;
  transition: 0.5s;
}
.pagination a:nth-child(2):hover, .pagination a:nth-child(3):hover, .pagination a:nth-child(4):hover, .pagination a:nth-child(5):hover, .pagination a:nth-child(6):hover {
  background-color: #e90909;
  color: #fff;
  border-radius: 50px;
}

/***** Shirt page end *****/ 
/***** Order page start *****/ 
.order {
  display: flex;
  width: 90%;
  background-color: #9e9a9a;
  padding: 3rem 20px;
  margin: 6rem auto 0px;
  border-radius: 10px;
}
.order img {
  width: 50%;
  border: 1px solid #000;
  padding: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.order .order-box {
  width: 50%;
  padding: 0px 50px;
  display: block;
  margin: 0 auto;
}
.order .order-box h1 {
  font-size: 50px;
}
.order .order-box p i {
  color: #d2e004;
  margin-bottom: 20px;
}
.order .order-box h2 {
  width: 80%;
  line-height: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
.order .order-box h3 {
  margin-top: 20px;
  font-size: 30px;
  color: #df6231;
}
.order .order-box h4 {
  width: 80%;
  color: #5e5505;
  font-size: 25px;
  line-height: 30px;
  text-decoration: line-through;
  border-bottom: 1px solid #000;
}
.order .order-box .color {
  padding: 20px 0px 10px;
  width: 80%;
  border-bottom: 1px solid #000;
}
.order .order-box .color h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.order .order-box .color span {
  background-color: #5a5757;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
.order .order-box .color span:hover {
  background-color: #cf0b0b;
}
.order .order-box .color span:nth-child(3) {
  color: #000;
}
.order .order-box .color span:nth-child(4) {
  color: #f4f804;
}
.order .order-box .color span:nth-child(5) {
  color: #06eb3f;
}
.order .order-box .size {
  width: 80%;
  border-bottom: 1px solid #000;
  padding: 20px 0px 10px;
}
.order .order-box .size h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.order .order-box .size span {
  background-color: #5a5757;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bolder;
}
.order .order-box .quantity {
  width: 80%;
  border-bottom: 1px solid #000;
  padding: 20px 0px 10px;
}
.order .order-box .quantity h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.order .order-box .quantity span {
  background-color: #5a5757;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
}
.order .order-box .btn {
  margin-top: 30px;
}
.order .order-box .btn button {
  width: 200px;
  font-size: 20px;
  padding: 10px 0px;
  margin: 0px 10px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bolder;
  background-color: #100de0;
}
.order .order-box .btn button:nth-child(2) {
  background-color: #e68506;
}

/***** Order page end *****/ 
/***** Register Form page start *****/ 
.register {
  width: 80%;
  margin: 8rem auto 30px;
}
.register form {
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.register form h1 {
  font-size: 50px;
  margin: 20px 0px;
  font-family: cambria;
}
.register form input {
  width: 80%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  padding: 10px;
  margin: 10px 0px;
}
.register form .submit {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  background-color: #4b0ddb;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.register form p {
  margin-top: 30px;
}
.register form p a {
  font-size: 40px;
  margin: 50px 20px;
}
.register form p a i {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 300ms;
}
.register form p a i:hover {
  transform: scale(1.2, 1.2);
}
.register form p a .fa-facebook {
  background: linear-gradient(135deg, rgba(3, 33, 163, 0.63), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register form p a .fa-google {
  background: linear-gradient(-135deg, #ff0606, #6f7272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register form p a .fa-telegram {
  background: linear-gradient(-135deg, #0630e7, #05e9dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register form p a .fa-instagram {
  background: linear-gradient(-135deg, #ff050b, #f32156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***** Register Form page end *****/ 
/***** Animation style start ******/   
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideButton {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/***** Animation style end *****/
/* media queries */   
@media (max-width: 768px) {
  .header .icons .fa-bars {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background: #fff;
  }
  .header .navbar li {
    list-style-type: none;
  }
  .header .navbar a {
    display: block;
    margin: 20px 20px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #f0f2f3;
    transition: 300ms;
  }
  .header .navbar a:hover {
    margin: 20px 50px;
  }
  .header .navbar.active {
    right: 20px;
    transition: 0.3s linear;
  }
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 60%;
  }
  .headbody {
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }
  .headbody .firstbody {
    padding-top: 5rem;
  }
  .headbody .firstbody button {
    display: block;
    margin: 0 auto;
  }
  .headbody .secondbody {
    margin: 0px;
  }
  .headbody .secondbody img {
    margin-top: 40px;
    width: 100%;
    height: 400px;
  }
  .Controlscroll {
    margin-top: 10rem;
  }
  .Controlscroll .gif {
    display: none;
  }
  .Controlscroll .TshirtDesign h1 {
    font-size: 40px;
  }
  .Controlscroll .TshirtDesign .TshirtBody {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox:nth-child(10) {
    display: none;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox img {
    width: 90%;
    background-color: #d6dbdb;
    border-radius: 10px;
    height: 130px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox p {
    display: none;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox h2 {
    text-align: start;
    font-size: 10px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox .Tshirticon i {
    font-size: 10px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox a {
    padding: 4px 5px;
    font-size: 12px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox a i {
    text-align: center;
  }
  .TshirtTrailer {
    grid-template-columns: 1fr;
    padding: 0px 5px;
  }
  .TshirtTrailer .firstTrailer {
    margin-top: 5rem;
  }
  .TshirtTrailer .firstTrailer h4 {
    font-size: 18px;
  }
  .TshirtTrailer .firstTrailer h1 {
    font-size: 50px;
  }
  .TshirtTrailer .firstTrailer h3 {
    font-size: 18px;
  }
  .TshirtTrailer .firstTrailer button {
    display: none;
  }
  .TshirtTrailer .secondTrailer {
    margin-top: 10px;
  }
  .TshirtTrailer .secondTrailer img {
    height: 400px;
  }
  .banner {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .banner .card {
    height: 300px;
    border-radius: 15px;
  }
  .banner .card .img-box {
    height: 180px;
  }
  .banner .card .img-box img {
    width: 170px;
    top: 30%;
  }
  .banner .card .content-box h2 {
    font-size: 25px;
  }
  .banner .card .content-box .size h3 {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .banner .card .content-box p {
    font-size: 15px;
    margin-left: 15px;
  }
  .banner .card .content-box a {
    font-size: 10px;
    right: 10px;
  }
  .banner .card .content-box .size span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 7px;
    margin: 10px 2px 0px;
  }
  .banner .card:hover .content-box a {
    transform: translateY(-20px);
  }
  .banner .card:hover .content-box h2 {
    transform: translateY(-40px);
  }
  .banner .card:hover .content-box p {
    transform: translateY(-20px);
  }
  .banner .card:hover .content-box .size {
    transform: translateY(-40px);
  }
  .shortTrailer {
    grid-template-columns: 1fr;
  }
  .shortTrailer .shortTrailer-box .textBox {
    margin-top: 5rem;
    padding: 10px;
  }
  .shortTrailer .shortTrailer-box .textBox h3 {
    font-size: 20px;
  }
  .shortTrailer .shortTrailer-box .textBox h1 {
    font-size: 40px;
  }
  .shortTrailer .shortTrailer-box .textBox h2 {
    font-size: 15px;
  }
  .shortTrailer2 {
    display: none;
  }
  .feature {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .feature .fea-box {
    margin: 20px 0px;
    padding: 20px;
  }
  .feature .fea-box img {
    width: 100%;
  }
  .feature .fea-box h5 {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .footer .foot-box:nth-child(2) {
    display: none;
  }
  .company h1 {
    font-size: 30px;
  }
  .pyaephyo {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .shirtpage {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  .shirtpage ul {
    display: none;
  }
  .shirtpage .shipag-body {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 10px;
    grid-gap: 20px;
  }
  .shirtpage .shipag-body .shirtpageBox {
    border-radius: 10px;
  }
  .shirtpage .shipag-body .shirtpageBox img {
    height: 100px;
  }
  .shirtpage .shipag-body .shirtpageBox p {
    display: none;
  }
  .shirtpage .shipag-body .shirtpageBox h2 {
    font-size: 12px;
    margin-top: 10px;
  }
  .shirtpage .shipag-body .shirtpageBox .Tshirticon i {
    font-size: 12px;
  }
  .pagination a {
    font-size: 13px;
    margin: 0 3px;
  }
  .register {
    margin: 7rem auto 0px;
    width: 90%;
  }
  .register form {
    width: 100%;
    padding: 10px;
  }
  .register form h1 {
    font-size: 30px;
  }
  .register form .submit {
    border-radius: 5px;
  }
  .register form p {
    margin: 20px 0px;
  }
  .register form p a {
    font-size: 30px;
    margin: 50px 10px;
  }
  .register form p a i {
    padding: 5px;
  }
  .order {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .order img {
    width: 100%;
  }
  .order .order-box {
    width: 100%;
    padding: 20px 0px;
    margin-left: 0px;
  }
  .order .order-box h1 {
    font-size: 30px;
  }
  .order .order-box p i {
    font-size: 10px;
    color: #dfe20b;
  }
  .order .order-box h2 {
    font-size: 20px;
  }
  .order .order-box h3 {
    font-size: 20px;
  }
  .order .order-box h4 {
    font-size: 18px;
  }
  .order .order-box .color h1 {
    font-size: 20px;
  }
  .order .order-box .color span {
    background-color: #5a5757;
    padding: 5px;
  }
  .order .order-box .color h1 {
    font-size: 20px;
  }
  .order .order-box .color span {
    padding: 5px;
  }
  .order .order-box .quantity h1 {
    font-size: 20px;
  }
  .order .order-box .quantity span {
    padding: 5px 10px;
  }
  .order .order-box .btn button {
    padding: 5px 0px;
    margin: 10px;
    font-weight: 100;
  }
}
@media (max-width: 450px) {
  .header .logo a {
    font-size: 16px;
  }
  .header .login-form {
    width: 90%;
  }
  .headbody .firstbody h2 {
    font-size: 40px;
  }
  .headbody .firstbody h1 {
    font-size: 40px;
  }
  .Controlscroll {
    margin-top: 10rem;
  }
  .Controlscroll .gif {
    display: none;
  }
  .Controlscroll .TshirtDesign h1 {
    font-size: 40px;
  }
  .Controlscroll .TshirtDesign .TshirtBody {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox:nth-child(10) {
    display: inline-block;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox img {
    width: 90%;
    background-color: #d6dbdb;
    border-radius: 10px;
    height: 130px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox h2 {
    text-align: start;
    font-size: 13px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox .Tshirticon i {
    font-size: 10px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox a {
    padding: 7px;
    font-size: 14px;
  }
  .Controlscroll .TshirtDesign .TshirtBody .TshirtBox a i {
    text-align: center;
  }
  .TshirtTrailer .firstTrailer h4 {
    font-size: 18px;
  }
  .TshirtTrailer .firstTrailer h1 {
    font-size: 40px;
  }
  .TshirtTrailer .firstTrailer h3 {
    font-size: 18px;
  }
  .TshirtTrailer .firstTrailer button {
    display: none;
  }
  .TshirtTrailer .secondTrailer {
    margin-top: 10px;
  }
  .TshirtTrailer .secondTrailer img {
    width: 90%;
    height: 300px;
  }
  .shortTrailer .shortTrailer-box .textBox {
    margin-top: 2rem;
  }
  .feature {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .feature .fea-box {
    margin: 10px 0px;
  }
  .footer .foot-box h2 {
    font-size: 35px;
  }
  .footer .foot-box h3 {
    margin-left: 0px;
  }
  .company h1 {
    font-size: 30px;
  }
  .pyaephyo {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .shirtpage {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .shirtpage ul {
    display: none;
  }
  .shirtpage .shipag-body {
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
    grid-gap: 20px;
  }
  .shirtpage .shipag-body .shirtpageBox {
    border-radius: 10px;
  }
  .shirtpage .shipag-body .shirtpageBox img {
    height: 100px;
  }
  .shirtpage .shipag-body .shirtpageBox p {
    display: none;
  }
  .shirtpage .shipag-body .shirtpageBox h2 {
    font-size: 12px;
    margin-top: 10px;
  }
  .shirtpage .shipag-body .shirtpageBox .Tshirticon i {
    font-size: 12px;
  }
  .pagination a {
    font-size: 13px;
    margin: 0 3px;
  }
  .register {
    margin: 7rem auto 0px;
    width: 90%;
  }
  .register form {
    width: 100%;
    padding: 10px;
  }
  .register form h1 {
    font-size: 30px;
  }
  .register form .submit {
    border-radius: 5px;
  }
  .register form p {
    margin: 20px 0px;
  }
  .register form p a {
    font-size: 30px;
    margin: 50px 10px;
  }
  .register form p a i {
    padding: 5px;
  }
  .order {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .order img {
    width: 100%;
  }
  .order .order-box {
    width: 100%;
    padding: 20px 0px;
    margin-left: 0px;
  }
  .order .order-box h1 {
    font-size: 30px;
  }
  .order .order-box p i {
    font-size: 10px;
    color: #dfe20b;
  }
  .order .order-box h2 {
    font-size: 20px;
  }
  .order .order-box h3 {
    font-size: 20px;
  }
  .order .order-box h4 {
    font-size: 18px;
  }
  .order .order-box .color h1 {
    font-size: 20px;
  }
  .order .order-box .color span {
    background-color: #5a5757;
    padding: 5px;
  }
  .order .order-box .color h1 {
    font-size: 20px;
  }
  .order .order-box .color span {
    padding: 5px;
  }
  .order .order-box .quantity h1 {
    font-size: 20px;
  }
  .order .order-box .quantity span {
    padding: 5px 10px;
  }
  .order .order-box .btn button {
    padding: 5px 0px;
    margin: 10px;
    font-weight: 100;
  }
}/*# sourceMappingURL=style.css.map */